<!-- <h3>File attachment</h3>
<input type="file" (change)="uploadImage($event)"> -->

<!-- <div class="images">
    <img  width="200">
</div> -->

<div class="container">
    <div class="flex justify-center text-center align-content-center align-items-center">
        <h1>Te amo mucho, mi amor. Esto es para ti con mucho cariño </h1>
        <img class="w-8 h-8" src="https://www.svgrepo.com/show/419183/heart-love-marriage-2.svg">
    </div>

    <img [src]="image" *ngFor="let image of images" class="d-block w-50 m-auto">

    <button (click)="onClick()" class="m-auto btn btn-danger">Logout</button>
</div>
   


